body{
    background-color: rgba(0, 0, 0, 0.869);
}
header{
    color: aliceblue;
}
#headshot{
    
    float: right;
    height: 150px;
}

.link{
    color: lightblue;
}

.link:hover{
    color:aquamarine
      
}
#resume{
    height: 400px;
    width: 300px;
}